/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 42pt;
  margin: 0;
}

h4 {
  font-size: 15pt;
  margin: 0;
}

@font-face {
  font-family: dancing;
  src: url('/DancingScript-VariableFont_wght.ttf');
}
.font-cursive {
  font-family: dancing;
}
